.full-width{
    width: 100%;
}
.example-button-row {
  display: table-cell;
  max-width: 600px;
}
.fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.checkcolor{
  background-color: whitesmoke;
}
