<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row" style="margin-top: 135px">
      <div class="col-md-6 offset-md-3">
        <mat-card class="checkcolor">
          <div class="container text-center">
            <img
              src="../../../assets/login.png"
              alt="login logo"
              width="80"
              style="padding-top: 10px"
            />
            <h1>Login Here</h1>
            <form action="">
              <!-- user-name -->
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Username</mat-label>
                <input
                  name="username"
                  matInput
                  required
                  placeholder="Please Enter Username"
                />
              </mat-form-field>
              <!-- user-password -->
              <mat-form-field
                appearance="outline"
                class="full-width"
                style="margin-top: 0.75%"
              >
                <mat-label>Password</mat-label>
                <input
                  type="password"
                  name="password"
                  matInput
                  required
                  placeholder="Please Enter Password"
                />
              </mat-form-field>
              <div class="container text-center">
                <button
                  type="submit"
                  mat-raised-button
                  color="primary"
                  style="margin: 7px"
                >
                  Submit
                </button>
                <button type="reset" mat-raised-button color="warn">
                  Reset
                </button>
              </div>
            </form>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
